html {
    overflow-y: scroll
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, form, fieldset, font {
    margin:0;
    padding:0;
}

body {
    font: 14px/1.231 "Microsoft Yahei", "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", Tahoma, HELVETICA, Arial, sans-serif;
    color: #393B3F;
    background-color: #F0F0F0;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

ul, li, ol {
    list-style: none;
}

caption {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

caption p {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #0A5ECC;
    outline: none;
}

a:hover {
    text-decoration: underline;
    color: #0086FF;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

:focus {
    outline: 0;
}

a img {
    border: none;
}
input,textarea,select,button {
    font:14px/1.231 "Microsoft Yahei","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB",Tahoma,HELVETICA,Arial,sans-serif;
    color:#393B3F;
    vertical-align:middle;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

textarea {
    background-color: #FFF;
    border: #CCC 1px solid;
    padding: 4px;
    overflow: auto;
    resize: none;
}

textarea:focus, input:focus {
    outline: none;
}
label input,label {
    vertical-align:middle;
    line-height:1.231;
    margin-left:0;
    margin-right:0;
}

label u {
    text-decoration: none;
}